<%-include('../partials/head')%>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/listadoProductos.css">

<body>
    <%-include('../partials/header')%>
    <section class="carrusel">
        <img src="/images/homeImagenes/setup.jpg">
        <br>
        <h1 class="departamento-nombre"><%= productos[1].categoria %></h1>
        <br>
    </section>
    
    <section class="ofertas">
       
          
<% for(let i = 0; i < productos.length; i++) {  %>
 
    <div class="producto-lista">
        <a href="/products/detail/<%= productos[i].id %>">

            <% if(productos[i].image.indexOf('h') != -1){ %>
                <img src="<%= productos[i].image %>" class="img-producto-lista">
          <%  } else{ %>
            <img src="/images/<%= productos[i].image %>" class="img-producto-lista">
        <%  } %>
           
        </a>
         
         
        <div class="caja-datos-producto-lista">
            <h3 class="nombre-producto-lista"><%= productos[i].nombre %></h3>
            <p class="categoria-marca-lista"><%= productos[i].marca %> | <%= productos[i].categoria %></p>
            <div class="box-precio-lista">
                <p class="descuento-lista">-<%= productos[i].descuento %></p>
                <p class="precio-unitario-lista"> $ <%= productos[i].precio_lista %></p>
                <p class="precio-lista"> $ <%= productos[i].precio %> </p>
            </div>
        </div>
        


        </div> 
       <% } %> 
      </section>


</body>
