<!DOCTYPE html>
<html lang="es">

    <%-include('../partials/head')%>
    <link rel="stylesheet" href="/css/productsDetail.css">
<body>
    <%-include('../partials/header')%>
  <br> 
<div class="product__detail__container">
    <div class="image__product">
            <% if(product.image.indexOf('h') != -1){ %>
                <img src="<%= product.image %>" class="img-producto-lista">
          <%  } else{ %>
            <img src="/images/<%= product.image %>" class="img-producto-lista">
        <%  } %>
    </div>
    <div class="box__details">
       <div class="container__name"> 
        <h2 class="nombre__producto"><%= product.nombre %></h2>
        <i class="far fa-heart"></i>
       </div>
   
    <h2 class="precioNeto"> $ 
        <%=product.precio %> 
    </h2>
    <h3 class="title__stock">Stock disponible</h3>
    <h2> <% if (product.precio > 150) {  %>  
         <h2> Envio gratuito     </h2>
         <p>El costo del producto es superior a $150, por lo que el envio será gratuito!</p>

         <%  } else{ %>
            <h2> Con costo de envio     </h2>
            <p>Agrega más productos a tu carrito para que el envio sea gratuito.</p>
            <%  } %>
    </h2>
   
    <div class="detalles-producto">
        <div class="detalles-producto">
            Categoria:  <a href="/products/categoria<%= product.id_categoria %>"> <%=product.categoria %> </a>
        </div>
<br>
        <div class="detalles-producto">
            Marca:  <a> <%=product.marca %> </a>
        </div>

    </div>
    <div class="box__stock">

        <div class="cantidad__comprar">
            <p>Cantidad: </p>
            <p><%=product.stock %> unidades </p>
        </div>
    </div>
    <div class="botones">
        <div class="comprar__ahora">
            <input type="button" class="boton__comprar" value="Comprar ahora">
        </div>
        <div class="agregar__al__carrito">
            <input type="button" class="boton__agregar__carrito" value="Agregar al carrito">
        </div>
    </div>
    <div class="botones__de__administrador ">
        <% if (locals.isLogged) { %>

            <a href="/admin/products/edit/<%= product.id %>">
            <input type="button" value="Editar Producto">
            </a>
            
            <form action="/admin/products/delete/<%= product.id %>?_method=delete" method="POST" name="eliminar">
                <input type="submit" value="Eliminar producto">
            </form>
            <% } else { %>
            <% } %>
    </div>
    </div>
</div>
<div class="descripcion">
    <h2>Descricpción</h2>
<p>
    <%= product.descripcion %> 
</p>
</div>


    <%-include('../partials/footer')%>

</body>
</html>