<!DOCTYPE html>
<html lang="es">

    <%-include('../partials/head')%>
    <link rel="stylesheet" href="/css/products.css">
<body>
   
    <%-include('../partials/header')%>
   
   
      <br>  </br>
      <br>  </br>
      <br>  </br>
       
        <div class="hero">
            <figure class="hero_picture">
                <img src="<%= product.image %>>"
                class="hero_img">
            </figure>

            <div class="hero_texts">
                <h1 class="hero_title"> <%= product.nombre %></h1>
             
                <P class="hero_paragraph">Valoración</P>
                <P class="hero_paragraph">Precio <%= product.precio %></P>
                <P class="hero_paragraph">default</P>
                <P><a href="#" class="hero_cta">AGREGAR AL CARRITO</a></P>
                <br>  </br>
                <% if (locals.isLogged) { %>
                    <a href="/admin/products/edit/<%= product.id %>" style="color:white ">Editar producto</a>
                    <br>
                    <br>
                    <form action="/admin/products/delete/<%= product.id %>?_method=delete" method="POST" style="display: inline-flex">
                        <button type="submit" class="action-button delete">ELIMINAR</button>
                    </form>
                    <% } else { %>
                    <% } %>
                <a href="/" style="color:white ">Editar producto</a>
                <br>
                <br>
                <br> </br>
                <P><a href="#" class="hero_cta2">Políticas de reembolso</a></P>
                <br>  </br>
                <P><a href="#" class="hero_cta2">Promociones de envío gratis</a></P>
            </div>
        </div>

  <!-----  <div class="fotos">
            <foto1 class="fotos_picture">
                <img src="/images/product1b.jpg"
                class="foto_img">
            </foto1>
            <foto2 class="fotos_picture">
                <img src="/images/product1c.jpg"
                class="foto_img">
            </foto2>
            <foto3 class="fotos_picture">
                <img src="/images/product1f.jpg"
                class="foto_img">
            </foto3>
            <foto4 class="fotos_picture">
                <img src="/images/product1e.jpg"
                class="foto_img">
            </foto4>
            <foto5 class="fotos_picture">
                <img src="/images/product1d.jpg"
                class="foto_img">
            </foto5>
        </div> -->

        <div class="containerdetalle">
            <br> </br>
            <div class="detalle-info">
                <h1>Detalle del Producto</h1>
                <p class="detalle-txt"> <%= product.descripcion %> </p>
            </div>
            <br> </br>
            <br> </br>
        </div>


    </main>
    <%-include('../partials/footer')%>

</body>
</html>