<!DOCTYPE html>
<html lang="es">

    <%-include('../partials/head')%>
    <link rel="stylesheet" href="/css/products.css">
<body>
   
    <%-include('../partials/header')%>
   
   <!-- <header class="main-header">

        <div>
           <a href="/"><img src="/images/logo-gluegames.png" class="logo" alt="logo GlueGames"></a>
        </div>

        <nav class="header-firstnav">
        
                <li><a disabled href="#">Tienda</a></li>
                <li><a disabled href="#">Acerca de</a></li>
                <li><a disabled href="#">Soporte</a></li>
        
        </nav>

        <div class="box">
            <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Buscar" />
            </div>
          </div>

        <nav class="header-secondnav">
            
                <li><a href="/login">Iniciar sesión</a></li>
                <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
        
        </nav>

    </header>
-->

    <!--main>
        <section class="last-visit">
            <h3>Basado en tu última visita</h3>
            <div class="products">
                <article>
                    <img src="images/product1a.jpg" alt="Assassain´s" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">ASSASSIN´S  PS5</h4>
                    </div>
                </article>
            </div>
        </section>
    <main-->
      <br>  </br>
      <br>  </br>
      <br>  </br>
       
        <div class="hero">
            <figure class="hero_picture">
                <img src="/images/imageDefaul.jpg"
                class="hero_img">
            </figure>

            <div class="hero_texts">
                <h1 class="hero_title"> <%= product.producto %></h1>
             
                <P class="hero_paragraph">VALORACION CON ESTRELLAS</P>
                <P class="hero_paragraph">PRECIO $ <%= product.precio %></P>
                <P class="hero_paragraph"><%= product.condicion %></P>
                <P><a href="#" class="hero_cta">AGREGAR AL CARRITO</a></P>
                <br>  </br>
                <a href="/admin/products/edit/<%= product.id %>" class="action-button edit">EDITAR PRODUCTO</a>
                <br>
                <form action="/admin/products/delete/<%= product.id %>?_method=delete" method="POST" style="display: inline-flex">
                    <button type="submit" class="action-button delete">ELIMINAR</button>
                </form>
                <P><a href="#" class="hero_cta2">Políticas de reembolso</a></P>
                <br>  </br>
                <P><a href="#" class="hero_cta2">Promociones de envío gratis</a></P>
            </div>
        </div>

  <!-----  <div class="fotos">
            <foto1 class="fotos_picture">
                <img src="/images/product1b.jpg"
                class="foto_img">
            </foto1>
            <foto2 class="fotos_picture">
                <img src="/images/product1c.jpg"
                class="foto_img">
            </foto2>
            <foto3 class="fotos_picture">
                <img src="/images/product1f.jpg"
                class="foto_img">
            </foto3>
            <foto4 class="fotos_picture">
                <img src="/images/product1e.jpg"
                class="foto_img">
            </foto4>
            <foto5 class="fotos_picture">
                <img src="/images/product1d.jpg"
                class="foto_img">
            </foto5>
        </div> -->

        <div class="containerdetalle">

            <div class="detalle-info">
                <h1>Detalle del Producto</h1>
                <p class="detalle-txt"> <%= product.descripcion %> </p>
            </div>
        </div>


    </main>
    <%-include('../partials/footer')%>

</body>
</html>