<!DOCTYPE html>
<html lang="es">

    <%-include('./partials/head')%>

<body>
  
    <%-include('./partials/header')%>

    <main>

        <section>
            <div class="carrousel">
                    <article>
                        <a disabled href="#"><img class="imagen1-carrousel" src="/images/homeImagenes/codvanguard.jpg" alt="Imagen del cod vanguard"></a>
                        <label class="texto1-carrousel">
                            <h1>Últimos lanzamientos</h1>
                            <p>Call Of Duty: Vanguard, nueva entrega de una de las franquicias mas grandes del mundo.</p>
                        </label>
                    </article>
            </div>
        </section>

        <% for(let i = 0; i < products.length; i++) { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/products/detail/<%= products[i].id %>">
                        <figure class="product-box_image">
                            <img src="/images/products/<%= products[i].fotoProducto %>" alt="imagen de producto">
                        </figure>
                        <article class="product-box_data">
                            <h2>$ <%= products[i].precio %></h2>
                            <p><%= products[i].producto %></p>
                            <i class="fas fa-truck"></i>
                        </article>
                    </a>
                </section>
            </div>
        <% } %>
    



        <section class="productos-en-venta">

            <div class="container-videojuegos">
                <a href="#">
                    <img src="/images/homeImagenes/videojuegos.jpg" alt="video juegos">
                    <p>Videojuegos</p>
                </a>
            </div>

            <div class="container-consolas">
                <a href="#">
                    <img src="/images/homeImagenes/Consolas.jpg" alt="consolas">
                    <p>Consolas</p>
                </a>
            </div>

            <div class="container-coleccionables">
                <a href="#">
                    <img src="/images/homeImagenes/coleccionables.jpg" alt="coleccionables">
                    <p>Coleccionables</p>
                </a>
            </div>

            <div class="container-accesorios">
                <a href="#">
                    <img src="/images/homeImagenes/accesorios.jpg" alt="accesorios">
                    <p>Accesorios</p>
                </a>
            </div>

        </section>

        <section class="container-los-mas-vendidos">
            
            <div class="container-masvendidos">
                <div class="container-vendidos-texto">
                    <h1><span>LOS MÁS</span> VENDIDOS</h1>
                </div>
                <div class="container-imagenes-masvendido">
                <div class="mas-vendido1">
                    <a href=""><img src="/images/Coleccionables/Gengar-Plush/GUEST_264f68ec-b2b7-407f-acb7-a59738224569.webp" alt=""></a>
                </div>
                <div class="mas-vendido2">
                    <a href=""><img src="/images/Coleccionables/LEGO Star Wars - Baby Yoda/81oW3YgtvAL._AC_SL1500_.jpg" alt=""></a>
                </div>
                <div class="mas-vendido3">
                    <a href=""><img src="/images/Coleccionables/The Legend of Zelda - Link Action Figure/60a63e8ca4be40febc812a7e7c6a5a7b.jpg.webp" alt=""></a>
                </div>
                </div>
            </div>
        </section>

        <section class="container-ofertas">
            <h1 class="titulo-ofertas">Ofertas</h1>
            <div class="ofertas">
                <div class="oferta-principal">
                    <div class="oferta1"><a href="/productDetail"><img src="/images/homeImagenes/valhala.jpg" alt=""></a></div>
                </div>
                <div class="otras-ofertas">
                    <div class="ofertaa">
                        <a href="#"><img src="/images/homeImagenes/zelda.jpg" alt=""></a>
                        <a href="#"><img src="/images/homeImagenes/ps5.jpg" alt=""></a>
                    </div>
                    <div class="ofertab">
                        <a href="#"><img src="/images/homeImagenes/legosw.jpg" alt=""></a>
                        <a href="#"><img src="/images/homeImagenes/a10.jpg" alt=""></a>
                    </div>
                    </div>
            </div>
        </section>
            
    </main>
    <%-include('./partials/footer')%>

</body>
</html>