<!DOCTYPE html>
<html lang="es">

    <%-include('../partials/head')%>

<body>
  
    <%-include('../partials/header')%>
	
	<!-- Container -->
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3">
				<h2 style="padding-left: 40px;"
            > Hola <%= user.nombre %> </h2>
				<img style="padding-top: 30px; block-size: 250px; padding-left: 80px" src="/images/users/<%= user.fotoPerfil %> ">
				<br>
                <br>
                <a style="padding-left: 40px; color:white " href="/admin/products/create"> Crear productos </a>
				<br>
                <br>
                <a style="padding-left: 40px; color:white " href="/products"> Editar productos </a>
				<br>
                <br>
				<a style="padding-left: 40px; color:white " href="/user/logout"> Cerrar sesión </a>
                <br>
                <br>
			</div>
		</div>
	</div>
	<!-- //Container -->
	
	<%- include('../partials/footer'); %>
</body>
</html>